<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>changjing_shan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1000,479}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,479}}</string>
                <key>sourceSize</key>
                <string>{1000,479}</string>
            </dict>
            <key>changjing_yun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{1000,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,255}}</string>
                <key>sourceSize</key>
                <string>{1000,255}</string>
            </dict>
            <key>changjing_yun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1015},{1000,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,220}}</string>
                <key>sourceSize</key>
                <string>{1000,220}</string>
            </dict>
            <key>changjing_yun3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,483},{1000,273}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,273}}</string>
                <key>sourceSize</key>
                <string>{1000,275}</string>
            </dict>
            <key>shareImage.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1338},{400,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,320}}</string>
                <key>sourceSize</key>
                <string>{400,320}</string>
            </dict>
            <key>tubiao_victory.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1237},{1000,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,99}}</string>
                <key>sourceSize</key>
                <string>{1000,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CJ.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8937884d77cd3222a00dc69e6a8bc25c$</string>
            <key>textureFileName</key>
            <string>CJ.png</string>
        </dict>
    </dict>
</plist>
