<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ph_fenge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1065},{661,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{661,1}}</string>
                <key>sourceSize</key>
                <string>{661,1}</string>
            </dict>
            <key>ph_gerenkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,853},{687,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{687,152}}</string>
                <key>sourceSize</key>
                <string>{687,152}</string>
            </dict>
            <key>ph_paihangkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{687,849}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{687,849}}</string>
                <key>sourceSize</key>
                <string>{687,849}</string>
            </dict>
            <key>ph_shuaxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1007},{677,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{677,56}}</string>
                <key>sourceSize</key>
                <string>{677,56}</string>
            </dict>
            <key>ziti_chakanhaoyou.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,2},{300,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,37}}</string>
                <key>sourceSize</key>
                <string>{300,37}</string>
            </dict>
            <key>ziti_chakanqun.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,106},{257,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,37}}</string>
                <key>sourceSize</key>
                <string>{257,37}</string>
            </dict>
            <key>ziti_haoyoupaihang.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1065},{349,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,63}}</string>
                <key>sourceSize</key>
                <string>{349,63}</string>
            </dict>
            <key>ziti_qunpaihang.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,41},{277,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,63}}</string>
                <key>sourceSize</key>
                <string>{277,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ph.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:011b0cdd695a189e9d6a84785c93ce1e$</string>
            <key>textureFileName</key>
            <string>ph.png</string>
        </dict>
    </dict>
</plist>
