<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qq01.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,510},{133,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,172}}</string>
                <key>sourceSize</key>
                <string>{133,172}</string>
            </dict>
            <key>qq02.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,341},{134,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,172}}</string>
                <key>sourceSize</key>
                <string>{134,172}</string>
            </dict>
            <key>qq03.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,336},{134,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,172}}</string>
                <key>sourceSize</key>
                <string>{134,172}</string>
            </dict>
            <key>qq04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{134,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,172}}</string>
                <key>sourceSize</key>
                <string>{134,172}</string>
            </dict>
            <key>qq05.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,167},{134,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,172}}</string>
                <key>sourceSize</key>
                <string>{134,172}</string>
            </dict>
            <key>qq06.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,162},{134,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,172}}</string>
                <key>sourceSize</key>
                <string>{134,172}</string>
            </dict>
            <key>qq07.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,2},{148,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,163}}</string>
                <key>sourceSize</key>
                <string>{148,163}</string>
            </dict>
            <key>qq08.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,2},{148,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,158}}</string>
                <key>sourceSize</key>
                <string>{148,158}</string>
            </dict>
            <key>qq09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{155,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,178}}</string>
                <key>sourceSize</key>
                <string>{155,178}</string>
            </dict>
            <key>qq10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{133,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,172}}</string>
                <key>sourceSize</key>
                <string>{133,172}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>QQ.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5726faf3b032718bebbbf5543524819$</string>
            <key>textureFileName</key>
            <string>QQ.png</string>
        </dict>
    </dict>
</plist>
