<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anniu_chongxinkaishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,362},{432,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,128}}</string>
                <key>sourceSize</key>
                <string>{432,128}</string>
            </dict>
            <key>anniu_fuhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,591},{576,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{576,128}}</string>
                <key>sourceSize</key>
                <string>{576,128}</string>
            </dict>
            <key>anniu_goumai.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,672},{374,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,88}}</string>
                <key>sourceSize</key>
                <string>{374,88}</string>
            </dict>
            <key>anniu_guanbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1098},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>anniu_guanqiamoshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{544,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,88}}</string>
                <key>sourceSize</key>
                <string>{544,88}</string>
            </dict>
            <key>anniu_huoquzuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{576,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{576,128}}</string>
                <key>sourceSize</key>
                <string>{576,128}</string>
            </dict>
            <key>anniu_jixuyouxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{576,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{576,128}}</string>
                <key>sourceSize</key>
                <string>{576,128}</string>
            </dict>
            <key>anniu_paiming.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1098},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>anniu_qiqiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,1106},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>anniu_quxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,2},{148,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,59}}</string>
                <key>sourceSize</key>
                <string>{148,59}</string>
            </dict>
            <key>anniu_shengyin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1030},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>anniu_shengyin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,1030},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>anniu_tiaozhanmoshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{544,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,88}}</string>
                <key>sourceSize</key>
                <string>{544,88}</string>
            </dict>
            <key>anniu_weixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,980},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>anniu_xuanze.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,582},{374,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,88}}</string>
                <key>sourceSize</key>
                <string>{374,88}</string>
            </dict>
            <key>anniu_yixuanze.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,492},{374,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,88}}</string>
                <key>sourceSize</key>
                <string>{374,88}</string>
            </dict>
            <key>anniu_zhuanpan.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,854},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>anniu_zhuye.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1098},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>kuangti_guanka.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,236},{124,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{852,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{852,327}}</string>
                <key>sourceSize</key>
                <string>{852,327}</string>
            </dict>
            <key>qq_040.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1106},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>tubiao_fuhuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,492},{66,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,58}}</string>
                <key>sourceSize</key>
                <string>{66,58}</string>
            </dict>
            <key>tubiao_shouzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,63},{141,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,171}}</string>
                <key>sourceSize</key>
                <string>{141,171}</string>
            </dict>
            <key>tubiao_wancheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,1156},{74,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,51}}</string>
                <key>sourceSize</key>
                <string>{74,51}</string>
            </dict>
            <key>tubiao_zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1172},{84,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,61}}</string>
                <key>sourceSize</key>
                <string>{84,61}</string>
            </dict>
            <key>tubiao_zuigaodefen.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1197},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>ziti_bencidefen.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,859},{283,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,66}}</string>
                <key>sourceSize</key>
                <string>{283,66}</string>
            </dict>
            <key>ziti_congxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,798},{336,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,59}}</string>
                <key>sourceSize</key>
                <string>{336,59}</string>
            </dict>
            <key>ziti_dangqiandefen.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,331},{119,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,28}}</string>
                <key>sourceSize</key>
                <string>{119,28}</string>
            </dict>
            <key>ziti_goumai.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1156},{118,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,72}}</string>
                <key>sourceSize</key>
                <string>{118,72}</string>
            </dict>
            <key>ziti_huafei.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1098},{119,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,72}}</string>
                <key>sourceSize</key>
                <string>{119,72}</string>
            </dict>
            <key>ziti_jinriguankanyongwan.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,762},{350,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,34}}</string>
                <key>sourceSize</key>
                <string>{350,34}</string>
            </dict>
            <key>ziti_jinrikan3de10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,958},{544,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,35}}</string>
                <key>sourceSize</key>
                <string>{544,35}</string>
            </dict>
            <key>ziti_jinrikeyong.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,992},{253,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,36}}</string>
                <key>sourceSize</key>
                <string>{253,36}</string>
            </dict>
            <key>ziti_shengyu.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,1156},{69,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,33}}</string>
                <key>sourceSize</key>
                <string>{69,33}</string>
            </dict>
            <key>ziti_shifoujixu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,721},{558,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,55}}</string>
                <key>sourceSize</key>
                <string>{558,55}</string>
            </dict>
            <key>ziti_yinyueshangdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,927},{279,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,63}}</string>
                <key>sourceSize</key>
                <string>{279,63}</string>
            </dict>
            <key>ziti_youxijieshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,995},{538,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{538,101}}</string>
                <key>sourceSize</key>
                <string>{538,101}</string>
            </dict>
            <key>zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,762},{102,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,90}}</string>
                <key>sourceSize</key>
                <string>{102,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UI.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1810b0b9507acbfb566504b3de11b233$</string>
            <key>textureFileName</key>
            <string>UI.png</string>
        </dict>
    </dict>
</plist>
