<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>za00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{104,515}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,515}}</string>
                <key>sourceSize</key>
                <string>{104,515}</string>
            </dict>
            <key>za01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{626,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{626,26}}</string>
                <key>sourceSize</key>
                <string>{626,26}</string>
            </dict>
            <key>za02.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,133},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>za03.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{141,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,129}}</string>
                <key>sourceSize</key>
                <string>{141,129}</string>
            </dict>
            <key>za04.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,133},{111,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,105}}</string>
                <key>sourceSize</key>
                <string>{111,105}</string>
            </dict>
            <key>za05.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,240},{105,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,108}}</string>
                <key>sourceSize</key>
                <string>{105,108}</string>
            </dict>
            <key>za06.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{158,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,135}}</string>
                <key>sourceSize</key>
                <string>{158,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>za.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed49634478484457b8cbc610166dfe66$</string>
            <key>textureFileName</key>
            <string>za.png</string>
        </dict>
    </dict>
</plist>
